{% extends "base.html" %}

{% load static %}

{% block title %}Add food{% endblock title %}

{% block content %}
<div id="create_food_box">
    <div id="create_food_title">
        <h1>New food</h1>
        <p>Fill in details below</p>
    </div>
    <div id="create_food_form">
        <form>
            <div>
                <label for="food_name">Food name:</label>
                <input type="text" id="food_name" name="food_name" placeholder="Apple">
            </div>
            <div>
                <label for="food_amount">Amount (g):</label>
                <input type="text" id="food_amount" name="food_amount" placeholder="100">
            </div>
            <div>
                <label for="food_calories">Calories (cal):</label>
                <input type="text" id="food_calories" name="food_calories">
            </div>
            <div>
                <label for="food_protein">Protein (g):</label>
                <input type="text" id="food_protein" name="food_protein">
            </div>
            <div>
                <label for="food_fat">Fat (g):</label>
                <input type="text" id="food_fat" name="food_fat">
            </div>
            <div>
                <label for="food_carbs">Carbs (g):</label>
                <input type="text" id="food_carbs" name="food_carbs">
            </div>
            <div>
                <label for="food_category">Category:</label>
                <select name="food_category" id="food_category">
                    <option value="fruit">Fruit</option>
                    <option value="meat">Meat</option>
                    <option value="fish">Fish</option>
                    <option value="vegetable">Vegetable</option>
                </select>
            </div>
        </form>
    </div>
</div>
{% endblock %}