{% extends "base.html" %}

{% load static %}

{% block title %}Add food{% endblock title %}

{% block content %}
<div id="create_food_box">
    <div id="create_food_form">
        <form method='post'>
            {% csrf_token %}
            <h1>New food</h1>
            <p>Fill in details below</p>
            <span>{{ error }}</span><br>

            <label for="form.name">Food name:</label>
            {{ form.name }}<br>

            <label for="food_category">Category:</label>
            {{ form.category }}<br>

            <label for="form.portion_weight">Amount (g):</label>
            {{ form.portion_weight }}<br>

            <label for="form.calories">Calories (cal):</label>
            {{ form.calories }}<br>

            <label for="form.protein">Protein (g):</label>
            {{ form.protein }}<br>

            <label for="form.fat">Fat (g):</label>
            {{ form.fat }}<br>

            <label for="food.carbohydrates">Carbohydrates (g):</label>
            {{ form.carbohydrates }}<br>

            <label for="form.recipe">Recipe:</label>
            {{ form.recipe }}<br>

            <button type="submit" class="btn btn-success">Add food</button>
        </form>
    </div>
</div>
{% endblock %}