{% extends "base.html" %}

{% load static %}

{% block title %}Food log{% endblock title %}

{% block content %}
<div id="food_log_left_column">
    <form method="POST">
        {% csrf_token %}
        <h3>Add food to the log</h3>
        <table>
            <tr>
                <th>Select food: </th>
            </tr>
            <tr>
                <td>
                    <select class='form-select' name='food_consumed' id='food_consumed'>
                        {% for food in foods %}
                            <option value='{{ food.name }}'>
                                {{ food.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <br/>
                </td>
            </tr>
            <tr>
                <th>Write amount (g/ml):</th>
            </tr>
            <tr>
                <td>
                    <input type='number' name='consumed_amount' id='consumed_amount'>
                </td>
            </tr>
            <tr>
                <td>
                    <button type='submit' class='btn btn-primary'>
                        Add Food
                    </button>
                </td>
            </tr>
        </table>
    </form>
    <br/>
    
    <h2>Todays meals:</h2>
    <h5><strong class='text'>{% now "DATE_FORMAT" %}</strong></h5>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope='col' class='col-md-2'>Food</th>
                <th scope='col' class='col-md-2'>Amount (g/ml)</th>
                <th scope='col' class='col-md-2'>Calories (cal)</th>
                <th scope='col' class='col-md-2'>Protein (g)</th>
                <th scope='col' class='col-md-2'>Fat (g)</th>
                <th scope='col' class='col-md-2'>Carbs (g)</th>
                <th scope='col' class='col-md-2'></th>
            </tr>
        </thead>
        <tbody class='.table-hover'>
        {% for product in user_food_log %}
            <tr>
                <td class='col-md-2'>{{ product.food_consumed.name }}</td>
                <td class='col-md-2'>{{ product.consumed_amount }}</td>
                <td class='col-md-2'>{{ product.food_consumed.calories }}</td>
                <td class='col-md-2'>{{ product.food_consumed.protein}}</td>
                <td class='col-md-2'>{{ product.food_consumed.fat}}</td>
                <td class='col-md-2'>{{ product.food_consumed.carbohydrates}}</td>   
                <td>
                    <a class='btn btn-danger' href="{% url 'food-log-delete' product.id %}">
                        X
                    </a>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td id='foodName' class='col-md-2'>Total</td>
                <td></td>
                <td id='totalCalories' class='col-md-2'>{{ total_calories.sum }}</td>
                <td id='totalFat' class='col-md-2'>{{ total_protein.sum }}</td>
                <td id='totalCarbohydrates' class='col-md-2'>{{ total_fat.sum }}</td>
                <td id='totalProtein' class='col-md-2'>{{ total_carbohydrates.sum }}</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <a href="{% url "show-food-log" %}">View all</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="food_log_right_column">
    <div class="container">
        <h3>Update calorie goal</h3>
        <form method="post" action="{% url 'food-log' %}">
            {% csrf_token %}
            <table class='table table-bordered table-light'>
                <tr>
                    <th>Todays goal (kcal): {{ calories.calories }}</th>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ calorie_goal_form.calories }}</td>
                    <td><button name='calorie_goal_save1' class='btn btn-outline-success' value='{{ calorie_goal.id }}'>Save</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}