{% extends "base.html" %}

{% load static %}

{% block title %}Food Categories{% endblock title %}

{% block content %}
<div id="food_category_box">
    <div id="food_category_title">
        <h2>Browse food by category</h2>
        {% for category in categories %}
            <table style="width:100%">
                <td>
                        <span>{% if category.food.count %}({{ category.food.count }}){% endif %} {{ category.name }}</span>
                </td>
            </table>
        {% endfor %}
    </div>
</div>
{% endblock %}