{% extends "base.html" %}

{% load static %}

{% block title %}Welcome to {{ block.super }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="container">

        <div id="index_search_bar">
            <h3 class="text-center">Food database</h3>
            <form method="POST" action="{% url  "search-food" %}">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="search" class="form-control" name="searched" placeholder="Enter food name">
                </div>
                <div class="d-grid gap-2 col-2 mx-auto">
                    <button type="submit" class="btn btn-outline-primary">SEARCH</button>
                </div>
            </form>
        </div>

        <div id="food_list">
            <h3>Food List</h3>
        </div>

        {% if foods %}
        <div class="container">
            <div class="row row-cols-3">
            {% for product in foods2 %}
                <div class="col"> 
                    <div class="col bg-white">
                        {% if product.food_image %}
                            <img src="{{ product.food_image.url }}" alt="food_image" class="food_image" width="250px" height="auto">
                        {% endif %}
                    </div>
                    <div class="col bg-white">
                        <p>Food name: {{ product.name }}</p>
                        <p>Category: {{ product.category }}</p>
                        <p>Calories: {{ product.calories }}</p>
                        <p><a href="{% url 'show-food' product.id %}">View details</a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        {% else %}
            <p>Zero entries in food list.</p>
        {% endif %}
        </div>

        <div id="food_list_content_pagenator">
            {% if foods2.has_previous %}
                <a href="?page=1">&laquo First</a>
                <a href="?page={{ foods2.previous_page_number }}">Previous</a>
            {% endif %}

            Page {{ foods2.number }} of {{ foods2.paginator.num_pages }}

            {% if foods2.has_next %}
                <a href="?page={{ foods2.next_page_number }}">next</a>
                <a href="?page={{ foods2.paginator.num_pages }}">Last &raquo</a>
            {% endif %}
        </div>
        
    </div>
</div>
{% endblock %}