{% extends "base.html" %}

{% load static %}
{% load media %}

{% block title %}Add dish{% endblock title %}

{% block content %}
<div id="create_dish_box">
    <div id="create_dish_title">
        <h1>New dish</h1>
        <p>Fill in details below</p>
    </div>
    <div id="create_dish_form">
        <form method="post">
            <div>
                <label for="dish_name">Dish name:</label>
                <input type="text" id="dish_name" name="dish_name" placeholder="Lasagna">
            </div>
            <br>
            <div>
                <label for="dish_amount">Amount (g):</label>
                <input type="number" id="dish_amount" name="dish_amount" min="0" max="5000" value="1" placeholder="100">
            </div>
            <br>
            <div>
                <label for="dish_calories">Calories (cal):</label>
                <input type="number" id="dish_calories" min="0" max="5000" name="dish_calories">
            </div>
            <br>
            <div>
                <label for="dish_protein">Protein (g):</label>
                <input type="number" id="dish_protein" min="0" max="5000" name="dish_protein">
            </div>
            <br>
            <div>
                <label for="dish_fat">Fat (g):</label>
                <input type="number" id="dish_fat" min="0" max="5000" name="dish_fat">
            </div>
            <br>
            <div>
                <label for="dish_carbs">Carbs (g):</label>
                <input type="number" id="dish_carbs" min="0" max="5000" name="dish_carbs">
            </div>
            <br>
            <div>
                <label for="dish_category">Category:</label>
                <select name="dish_category" id="dish_category">
                    <option value="bbq_and_grilling">BBQ and Grilling</option>
                    <option value="casseroles">Casseroles</option>
                    <option value="meats">Meats</option>
                    <option value="pasta">Pasta</option>
                    <option value="pizza">Pizza</option>
                    <option value="rice_and_bean">Rice and Bean</option>
                    <option value="salads">Salads</option>
                    <option value="soups_and_stews">Soups and Stews</option>
                    <option value="stir_fry">Stir-Fry</option>
                </select>
            </div>
            <br>
            <div>
                <label for="dish_ingridients">Ingridients:</label>
                <textarea id="dish_ingridients" name="dish_ingridients" rows="4" cols="50"> 
Ingredients

16 ounces uncooked large elbow macaroni, large shells, or cavatappi pasta

6 tablespoons salted butter

...
                </textarea>
            </div>
            <br>
            <div>
                <input type="submit" value="Add">
                <input type="reset">
            </div>
        </form>
    </div>
</div>
{% endblock %}